{include file='common/head'}
<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo"><a href="">WEB_NAME<span style="font-size: small">v1.0</span></a></div>
    <div class="left_open">
        <i title="展开左侧栏" class="iconfont">&#xe699;</i>
    </div>
    <ul class="layui-nav right" lay-filter="">
<!--        <li class="layui-nav-item to-index"><a href="#">hello</a></li>-->
        <li class="layui-nav-item">
            <a href="javascript:;">{$adminInfo.username}</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="javascript:;" onclick="banner_edit(this)" attr_id="{$adminInfo.id}">修改密码</a></dd>
                <dd><a href="{:url('admin/login/logout')}">退出</a></dd>
            </dl>
        </li>

    </ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <!---->
        {volist name="menu" id="val"}
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe723;</i>
                    <cite>{$val.title}</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    {volist name="val.son" id="rss"}
                    <li>
                        <a _href="/{$rss.name}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>{$rss.title}</cite>
                        </a>
                    </li >
                    {/volist}
                </ul>
            </li>
        </ul>
        {/volist}
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src="{:url('admin/index/welcome')}" frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="page-content-bg"></div>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<!-- 底部开始 -->
<!-- 底部结束 -->
<script>
    /*管理员-密码修改*/
    function banner_edit(obj){
        var id=$(obj).attr('attr_id');
        //alert(mid);
        var url="{:URL('admin/editPwd')}?id="+id;
        //alert(url);
        x_admin_show('修改密码',url,1000,600)
    }
</script>

</body>
</html>