{include file='common/head'}
<body>
<div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">{$nav}</a>
                <a>
                    <cite>{$title}</cite></a>
            </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">

        <div class="layui-col-md12">

            <div class="layui-card">
                <div class="layui-card-body ">
                    <div class="layui-collapse" lay-filter="test">
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">条件筛选<i class="layui-icon layui-colla-icon"></i></h2>
                            <div class="layui-colla-content">
                                <form class="layui-form" action="">

                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">操作人</label>
                                            <div class="layui-input-inline" style="width: 200px;">
                                                <input type="text" name="username" placeholder="" autocomplete="off"
                                                       class="layui-input">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">操作内容</label>
                                            <div class="layui-input-inline" style="width: 200px;">
                                                <input type="text" name="title" placeholder="" autocomplete="off"
                                                       class="layui-input">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">IP地址</label>
                                            <div class="layui-input-inline" style="width: 200px;">
                                                <input type="text" name="ip" placeholder="" autocomplete="off"
                                                       class="layui-input">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-card-header">

                    <!--<button class="layui-btn layui-btn-danger" onclick="delAll()">
                        <i class="layui-icon"></i>批量删除
                    </button>-->
                    <!--<button class="layui-btn" onclick="add(this)">
                        <i class="layui-icon"></i>添加
                    </button>-->
                </div>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>操作人</th>
                            <th>操作内容</th>
                            <th>IP</th>
                            <th>操作时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name="list" id="item"}
                        <tr>
                            <td>{$item.id}</td>
                            <td>{$item.username}</td>
                            <td>{$item.title}</td>
                            <td>{$item.ip}</td>
                            <td>{:date('Y-m-d H:i:s',$item.time)}</td>
                        </tr>
                        {/volist}

                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body ">
                    <div class="page">
                        <div>
                            {$page}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>

</script>
</html>